@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
    font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	width: 90%;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: .75em;
}

p {
    font-size: .875em;
	line-height: 1.5em;
}

header {
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

header h1 {
    text-align: center;
    width: auto;
    margin: 0;
    padding: 1em 0;
    border-bottom: 3px solid #77a466;
}
header span {
	color: #77a466;
}

header nav ul {
	margin: 1.5em 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
    text-align: center;
	font-weight: 700;
	font-size: .875em;
	padding: 1em .625em;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

.main-image {
	height: auto;
	float: left;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	float: left;
    font-size: 1em;
}
.main-title h3 {
	text-align: left;
	padding: .3125em 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
    font-size: 1em;
	line-height: 1.8em;
}

.section-one,
.section-two,
.section-three {
	height: auto;
	border-top: 1px solid #eee;
}

.section-one h4,
.section-two h4,
.section-three h4 {
	padding: .625em 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: .625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
    font-size: 1em;
	line-height: 1.35em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

footer {
	height: 3.125em;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

@media all and (min-width:768px) {
    /* Tablet styles here */
	p {
		padding: 0 1.5em;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		float: left;
	}
	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-two h4,
	.section-three h4 {
		padding: .625em 1.875em;
	}
}

@media all and (min-width:940px) {
    /* Desktop styles here */
	header {
		height: 6.875em;
	}

	header h1 {
		text-align: left;
		float: left;
		padding: 1.25em 0;
		border-bottom: none;
	}

	header nav {
		text-align: right;
		float: right;
		padding: 2.875em 0;
	}
	header nav ul {
		margin: 0;
	}
	header nav ul li {
		padding: 0 .625em;
		display: inline;
	}
}
